* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app_post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app_header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.app_signup {
  display: flex;
  flex-direction: column;
}
